<html>
<head>
  <title> view 1 </title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
</head>
<body>
  <div ng-controller="TeamsController">
    Team: <input type='text' ng-model='newPlayer.Name'>
     <input type='submit' value='Add Team ' ng-model='newPlayer' ng-click='addPlayer()'>
    <ul>
      <li ng-repeat="Player in Players">{{ Player.Name }}
      <button ng-click='removePlayer($index)'>delete</button>
    </li>
    </ul>
  </div>
</body>
</html>
